* {
    font-family: "Arvo", "sans-serif";
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #fff;
    align-items: center;
    text-align: center;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    background-color: rgba(122, 116, 116, 0.473);
    padding: 10px 0;
    text-align: center;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}

nav a {
    margin: 20px;
}

footer {
    padding: 10px 0;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: #00bf62;
}

.container {
    background-color: rgba(122, 116, 116, 0.473);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.foto {
    width: 120px;
    height: 100%;
    margin: 20px;
}

.container2{
    background-color: rgba(122, 116, 116, 0.473);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.cuadrado{
    border-radius: 200px;
    padding: 20px;
    background-color: #00bf62;
    margin: 10px;
    width: 200px;
    text-align: center;
    position: relative;
}

@keyframes moverDerecha {
    0% {
        left: 0;
    }
    100% {
        left: calc(100% - 220px); /* Ajusta según el ancho del cuadrado */
    }
}